<link rel="stylesheet" type="text/css" href="/css/about.css">
    <title>{{titulo}}</title>
    <h1>O Jogo Snake</h1>
    <img src="/img/snake.png" alt="Jogo Snake">
    <h4>História</h4>
    <p>Serpente (Snake, também conhecido como "jogo da cobrinha") é um jogo que ficou conhecido por diversas versões cuja versão inicial começou com o jogo Blockade de 1976, sendo feitas várias imitações em vídeo-games e computadores. No fim dos anos 90 foi popularizado em celulares da Nokia que vinham com o jogo já incluso.</p>
    <h4>Como funciona</h4>
    <p>O jogador controla uma longa e fina criatura que se arrasta pela tela, coletando comida (ou algum outro item), não podendo colidir com seu próprio corpo ou as "paredes" que cercam a área de jogo. Cada vez que a serpente come um pedaço de comida, sua cauda cresce, e a velocidade com que a cobra se movimenta também aumenta, aumentando a dificuldade do jogo. O usuário controla a direção da cabeça da serpente (para cima, para baixo, esquerda e direita) e seu corpo segue.</p>
    <p>Conforme a cobra consome um alimento no campo o jogador marcará 1 ponto caso o alimento seja da cor preta, se o alimento for da cor vermelha o usuário marca 2 pontos.</p>
    <h4>Controles</h4>
    <table style="width:100%">
        <tr>
            <td>P</td>
            <td>Dar pause no jogo.</td>
        </tr>
        <tr>
            <td>S</td>
            <td>Inicia o Jogo.</td>
        </tr>
        <tr>
            <td>&uarr;</td>
            <td>Move a cobra para cima.</td>
        </tr>
        <tr>
            <td>&darr;</td>
            <td>Move a cobra para baixo.</td>
        </tr>
        <tr>
            <td>&rarr;</td>
            <td>Move a cobra para a direita.</td>
        </tr>
        <tr>
            <td>&larr;</td>
            <td>Move a cobra para a esquerda.</td>
        </tr>
    </table>