<title>{{titulo}}</title>
<h1>Página inicial</h1>
</br>
<h3>Bem vindo!</h3>

<p>Este projeto foi desenvolvido como segundo trabalho prático da disciplina de Programação Web que consiste no desenvolvimento
de uma aplicação Web onde os usuários poderão jogar o jogo Snake desenvolvido no
primeiro trabalho prático. Essa aplicação foi desenvolvida através do framework Express.</p>

<p>Para acessar informações sobre como jogar o jogo Snake, acesse a página 'Sobre', onde você irá encontrar uma breve descrição
    sobre a história do jogo, como o jogo funciona e todos os controles do jogo.
</p>

<h5>Divirta-se!</h5>