div{
    background-color: rgba(255,255,255,.7);
    border: 12px solid #9f7b5e;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0px inset, 2px 2px 2px 0px;
    width: 25%;
    height: 25%;
    padding: 10px 10px 10px 10px;
    margin: 100px;
    
}
body{
    background-image: url(img/coliseu-roma.jpg);
    background-repeat: no-repeat;
    background-position: 30px 0px;
    background-color: lightblue;
}
h3{
    font-family: sans-serif;
    text-align: center;
}
p{
    font-family: sans-serif;
    text-align: center;
    margin: 5px 15px 5px 15px; 
}